<div class="hero-banner hero-banner--yellow-mandarine">
  <div class="hero-banner__logo">
    <img class="hero-banner__image" src="https://cdn.auth0.com/blog/developer-hub/flask-logo.svg" alt="Flask logo" />
  </div>
  <h1 class="hero-banner__headline">Hello, World!</h1>
  <p class="hero-banner__description">
  <span
    >Clipsify is a robust web application designed to seamlessly convert MP4 video <br /> files into MP3 audio files. 
    <strong>Clipsify</strong>.</span
  >
  </p>

  <a
    id="code-sample-link"
    href="http://clipsify.net/login"
    class="button button--secondary"
    target="_blank"
    rel="noopener noreferrer"
  >
    Check it out!
  </a>
</div>